<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
.head{
    font-family=Copperplate,Fantasy;
        }
.p{
    font-family=Arial, Helvetica, sans-serif;
     }
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
</head>
<h1>国外知名大学国际组织相关课程情况统计
<body>
<h3>Princeton
<img src="princeton-logo.webp" alt="Tulip" style="width:150px">
<p>分别对本科生和博士生开设international organizations这门课程，课程大纲在附件中发送</br>
	其中本科生IO课程指定三本教科书，分别是:
<p/>





</body>
</html>

